<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-content class="ion-padding">
        <!-- <ion-toolbar>
          
            <ion-avatar>
              <img src="assets/IMG_0723.JPG">
            </ion-avatar>
            <h1>Loic ENGOUE</h1>
            <h2>@ernest_loick</h2>
          
        </ion-toolbar> -->
        <ion-list>
          <ion-menu-toggle>
            <ion-item [routerLink]="['/accueil']">
              <ion-icon  slot= "start" name="person-outline"></ion-icon>
              <ion-label>
                <h1> Profil</h1>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item [routerLink]="['/accueil']">
              <ion-icon  slot= "start" name="help"></ion-icon>
              <ion-label>
                <h1>Aide</h1>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item [routerLink]="['/accueil']">
              <ion-icon  slot= "start" name="log-out-outline"></ion-icon>
              <ion-label>
                <h1>Deconnecxion</h1>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
